.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Item-container {
  position: relative;
}

.Item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Item-title {
  position: absolute;
  top: 10px;
  right: 10px;
}

